@import "tailwindcss";

/* CSS RESET **/

/* Solusi 1: Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    display: none; /* atau width: 0; */
}

/* Solusi 2: Firefox */
.element-scrollable-tapi-hidden {
    scrollbar-width: none;
}

/* Solusi 3: Microsoft Edge (lama) */
.element-scrollable-tapi-hidden {
    -ms-overflow-style: none; /* untuk IE dan Edge yang lebih lama */
}

html, body {
  height: 100%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

input, textarea, select {
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS RESET END **/

/* COLORS SETUP**/
@theme {
  --color-primary: #031b6b;
  --color-secondary: #1976d2;
  --color-primary-light: #e0f7fa;
  --color-accent: #00c5d8;
  --color-highlight: #0ff;
  --font-poppins: Poppins, sans-serif;
}


/* COLORS SETUP END**/

/* CUSTOM UTILITIES */
@layer utilities {

  .cv-auto {
    content-visibility: auto;
    contain-intrinsic-size: 0 500px; 
  }

  /* Repeating snowflake pattern */
  .blueprint-snowflake {
    background-image: url("./assets/snowflakes.webp");
    background-repeat: repeat;
    background-size: 35px 35px;
    background-position: 0 0;
  }

  .bg-snow-gradient {
    background: linear-gradient(
      to bottom, 
      rgba(255, 255, 255, 0.40) 0%, 
      rgba(255, 255, 255, 0.30) 25%,
      rgba(255, 255, 255, 0.20) 50%, 
      rgba(255, 255, 255, 0.10) 75%,
      transparent 100% 
      );
  }

  .hexagon {
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: white;
  }

  .slow-bounce {
  animation: slowBounce 10s  ease-in-out infinite;
}

  @keyframes slowBounce {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-20px); }
  50%  { transform: translateY(0); }
  70%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* Snowfall Animation */
@keyframes snowfall {
    0% {
        transform: translateY(-10vh) translateX(0);
    }
    100% {
        transform: translateY(110vh) translateX(var(--swing-offset, 0));
    }
}

@keyframes snowflake-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spin-test {
  animation: snowflake-spin 12s linear infinite ;
}

.spin-test2 {
  animation: snowflake-spin 15s linear infinite ;
}

.snowflake {
    position: absolute;
    top: -10vh;
    animation: snowfall linear infinite;
    will-change: transform;
}

.snowflake-inner {

    background-image: url(./assets/snowflakes2.webp);

    /* Properti tampilan gambar */
    background-size: cover; /* Pastikan gambar mengisi area */
    background-position: center;
    background-repeat: no-repeat;

    display: block;

    border-radius: 100%;
    animation: snowflake-spin 3s linear infinite;
}

@keyframes living {
    0% {
        transform: translateX(0) ;
        animation-timing-function: linear;
    }
    100% {
        transform: translateX(105vw) ;
        animation-timing-function: linear;
    }
}

.slow-living {
  animation: living 5s alternate infinite;
}

.slow-living-a {
  animation: living 5s alternate-reverse infinite;
}

@keyframes bounce-tot {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.bounce-complex {
  animation : bounce-tot 0.7s linear infinite alternate;
}

.bounce-complex-a {
  animation : bounce-tot 0.7s linear infinite alternate-reverse;
}

@keyframes scale-x-animation {
  0% {
    transform: scaleX(0)
  }
  100% {
    transform: scaleX(1)
  }
}

@keyframes scale-animation {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1)
  }
}

.scale-animation {
  animation: scale-animation 0.5s ease-in forwards;
}

.scale-x-animation {
  animation: scale-x-animation 1s ease-in forwards;
  transform: scaleX(0);
  transform-origin: center center;
}

.text-fill-gradient {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.8;
        transform: scale(1);
    }
    50% {
        opacity: 0.4;
        transform: scale(0.9);
    }
}

.animate-twinkle {
    /* Menerapkan animasi dengan durasi dan delay yang bervariasi */
    animation: twinkle linear infinite; 
}

.animate-twinkle-image {
  animation: twinkle 2s linear infinite;
}

@keyframes arise-from-side {
  0% {
    transform: scaleX(0);
    /* width: 0; */
  }
  100% {
    transform: scaleX(100%);
    /* width: 100%; */
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.arise-from-side-left {
  overflow: hidden;
  transform-origin: left;
  animation: arise-from-side 1.5s linear normal;
}
.arise-from-side-right {
  overflow: hidden;
  transform-origin: right;
  animation: arise-from-side 1.5s linear normal;
}

.child-fade-in-up {
  opacity: 0; 
  animation: fade-in-up 0.8s ease-out 1.5s forwards; 
}

.fade-in-up {
  opacity: 0; 
  animation: fade-in-up 1s ease-out forwards; 
}

@keyframes aurora-curtain {
    0%, 100% {
      transform: translateY(0) scaleY(1);
      opacity: 0.3;
    }
    50% {
      transform: translateY(-20px) scaleY(1.5);
      opacity: 0.8;
    }
}

.animasi-aurora {
  animation: aurora-curtain 3s ease-in-out infinite;;
}

}

/* CUSTOM UTILITIES END */

/* Animasi Aurora */
